*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}

.bot-circle {
    position: fixed;
    width: 70px;
    height: 70px;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background:  rgb(255,92,30);
    box-shadow: 1px 2px 10px 0 #282c34;
    z-index: 8;
}


.robot-icon{
    margin: 15px 15px;
    font-size: 2.5em;
    color: #fff;
}
.robot-icon:hover{
    font-size: 2.5em;
    margin: 15px 15px;
    color: #282c34;
}

::-webkit-scrollbar{
    width: 0.8em;
    display: block;


}
::-webkit-scrollbar-track{
    background: rgb(0,0,0,0.9);

}
::-webkit-scrollbar-thumb{
    background: rgb(255,92,30);

}
::-webkit-scrollbar-thumb:hover{
    background: rgb(255,92,30,0.7);

}

#conversation-area{
    position: fixed;
    top: 0;
    background: linear-gradient( 110.3deg,  rgb(222,222,222) 4.3%, rgb(222,222,222) 96.7% );
    width: 100vw;
    height: 100vh;
    transition: 2s ease-in-out;
    z-index: 10;
}




.area-border{
    position: absolute;
    display: flex;
    top: 0;
    z-index: 3;
    flex-direction: row;
    justify-content: left;
    border-top-right-radius: 0;
    width: inherit;
    height: 8vh;
    background-color: rgb(255,92,30);

}
.conversation{
    position: absolute;
    top: 50px;
    width: inherit;
    overflow: auto;
    overflow-x: hidden;
    max-height: 79vh;
    margin: 0;
    padding: 0;
}
.text-area{
    position: fixed;
    background-color: rgb(242,242,242);
    bottom: 30px;
    width: inherit;
    z-index: 5;
}
.text-area, input{
    color: #000;


}

.footer{
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 6vh;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    z-index: 7;
    background-color: rgb(255,92,30);

}
.bot-online{
    color: #fff;


}
.bot-online, h5{
    color: #fff;
    font-size: 15px;

}
.online{
    margin-left: 15px;
    margin-top: 0;
}
.online span{
    color: #0f9d58;
    font-size: 4em;
}
.cancel{
    font-size: 2rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
    color: #fff;
}





.footer h5{
    font-size: 1rem;
}

.footer span{
    font-weight: 500;
    font-style: italic;
    color: #282c34;
}

input::placeholder{
    font-size: 1em;
    color: #000;
    padding-left: 10px;
    font-stretch: ultra-expanded;
}


.form-control:focus{
    box-shadow: none;
}

.send-icon{
    position: absolute;
    right: 10px;
    top: 11px;
    color: rgb(198,198,198);
    font-size: 1.5em;
}

.send-icon:hover{
    color: rgb(255,92,30);
    cursor: pointer;
}

@media only screen and  (min-width: 576px) {
   #conversation-area{
       width: 100vw;
   }

}

@media only screen and (min-width: 600px) {
    #conversation-area{
        position: fixed;
        right: 0;
        border-radius: 0;
        width: 60vw;
        height: 100vh;
        transition: 2s ease-in-out;
    }

    .conversation{
        position: absolute;
        top: 50px;
        width: inherit;
        overflow: auto;
        overflow-x: hidden;
        max-height: 90vh;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {

    #conversation-area{
        width: 30vw;
    }





}

@media (min-width: 1200px) {


    .footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}
