.bot-speaks-position{
    padding: 0 15px;
    background: rgb(255,92,30);
    color: whitesmoke;
    z-index: 1;


}

.user-speaks-position{
    float: right;
    margin: 0 10px 0 0;
    padding: 0 8px;
    background: rgb(255,92,30);
    color: whitesmoke;



}

.message-panel{
    float: left;
    margin: 10px 0 40px 10px;
    width: inherit;
    background: whitesmoke;
    border-radius: 10px;
    height: fit-content;
    padding: 5px 10px;
}
.card-style{
    display: block;
    padding: 10px;
    height: auto;
}