.bot-speaks-position{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(255,92,30);
    color: whitesmoke;
    z-index: 1;


}
.bot-font-position{
    background: rgb(255,92,30);
    padding: 10px;
    margin: 10px 10px;
    border-radius: 50%;

}

.user-speaks-position{
    float: right;
    margin: 0 10px 0 0;
    padding: 0 8px;
    background: rgb(255,92,30);
    color: whitesmoke;



}

.message-panel{
    float: left;
    margin: 10px 0 70px 10px;
    width: inherit;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    border-radius: 10px;
    height: fit-content;
    padding: 5px 10px;
}
.card-style{
    display: block;
    padding: 10px;
    height: auto;
}